body{
    background-color: rgb(131, 230, 255);
}
#container{
    /* border:2px solid red; */
    background-color: white;
    width:50%;
    height:30%;

    position:absolute;
    left:25%;
    top:35%;

    box-shadow: 3px 4px 20px 0px;

    border-radius: 15px;
}

#preview{
    margin:5%;
    /* border:2px solid rgb(17, 0, 255); */
    background-color: white;
    width:90%;
    height:30%;
    text-align: center;
}

#container button{
    position:absolute;
    left:46%;
    top:80%;
}